
header{
    background-color: aquamarine;
    color: blue;
    font-size: 20px;
}
.logo{
    background-color: antiquewhite;
}
main{
    background-color: blueviolet;
    text-align: center;
    color: white;
}
article{
    background-color: aqua;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}
